-- CreateEnum
CREATE TYPE "ApprovalEntityType" AS ENUM ('EXPENSE', 'BILL', 'SALARY_RUN', 'MATERIAL_REQUEST', 'PURCHASE_ORDER', 'DPR', 'VARIATION', 'DOCUMENT');

-- CreateEnum
CREATE TYPE "ApprovalPriority" AS ENUM ('LOW', 'NORMAL', 'HIGH', 'URGENT');

-- AlterEnum
-- This migration adds more than one value to an enum.
-- With PostgreSQL versions 11 and earlier, this is not possible
-- in a single migration. This can be worked around by creating
-- multiple migrations, each migration adding only one value to
-- the enum.


ALTER TYPE "ApprovalStatus" ADD VALUE 'SUBMITTED';
ALTER TYPE "ApprovalStatus" ADD VALUE 'PENDING_REVIEW';
ALTER TYPE "ApprovalStatus" ADD VALUE 'CLOSED';
ALTER TYPE "ApprovalStatus" ADD VALUE 'CANCELLED';

-- DropForeignKey
ALTER TABLE "Approval" DROP CONSTRAINT "Approval_expense_fkey";

-- DropIndex
DROP INDEX "Approval_module_idx";

-- DropIndex
DROP INDEX "Approval_status_idx";

-- AlterTable
ALTER TABLE "Approval" DROP COLUMN "comments",
DROP COLUMN "module",
DROP COLUMN "recordId",
DROP COLUMN "requestedAt",
DROP COLUMN "status",
ADD COLUMN     "amount" DECIMAL(14,2),
ADD COLUMN     "approvalType" TEXT NOT NULL DEFAULT 'OPERATIONAL',
ADD COLUMN     "closedAt" TIMESTAMP(3),
ADD COLUMN     "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
ADD COLUMN     "currentStatus" "ApprovalStatus" NOT NULL DEFAULT 'PENDING',
ADD COLUMN     "deletedAt" TIMESTAMP(3),
ADD COLUMN     "description" TEXT,
ADD COLUMN     "entityId" TEXT NOT NULL,
ADD COLUMN     "entityType" "ApprovalEntityType" NOT NULL,
ADD COLUMN     "metadataJson" JSONB,
ADD COLUMN     "priority" "ApprovalPriority" NOT NULL DEFAULT 'NORMAL',
ADD COLUMN     "rejectedById" TEXT,
ADD COLUMN     "rejectionReason" TEXT,
ADD COLUMN     "reviewedAt" TIMESTAMP(3),
ADD COLUMN     "reviewedById" TEXT,
ADD COLUMN     "submittedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
ADD COLUMN     "title" TEXT NOT NULL,
ADD COLUMN     "updatedAt" TIMESTAMP(3) NOT NULL;

-- CreateTable
CREATE TABLE "ApprovalComment" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "approvalId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "comment" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ApprovalComment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApprovalTimeline" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "approvalId" TEXT NOT NULL,
    "actorUserId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "fromStatus" "ApprovalStatus",
    "toStatus" "ApprovalStatus" NOT NULL,
    "note" TEXT,
    "metadataJson" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ApprovalTimeline_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "ApprovalComment_companyId_idx" ON "ApprovalComment"("companyId");

-- CreateIndex
CREATE INDEX "ApprovalComment_approvalId_idx" ON "ApprovalComment"("approvalId");

-- CreateIndex
CREATE INDEX "ApprovalTimeline_companyId_idx" ON "ApprovalTimeline"("companyId");

-- CreateIndex
CREATE INDEX "ApprovalTimeline_approvalId_idx" ON "ApprovalTimeline"("approvalId");

-- CreateIndex
CREATE INDEX "Approval_siteId_idx" ON "Approval"("siteId");

-- CreateIndex
CREATE INDEX "Approval_entityType_entityId_idx" ON "Approval"("entityType", "entityId");

-- CreateIndex
CREATE INDEX "Approval_currentStatus_idx" ON "Approval"("currentStatus");

-- CreateIndex
CREATE INDEX "Approval_priority_idx" ON "Approval"("priority");

-- AddForeignKey
ALTER TABLE "Approval" ADD CONSTRAINT "Approval_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Approval" ADD CONSTRAINT "Approval_rejectedById_fkey" FOREIGN KEY ("rejectedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApprovalComment" ADD CONSTRAINT "ApprovalComment_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApprovalComment" ADD CONSTRAINT "ApprovalComment_approvalId_fkey" FOREIGN KEY ("approvalId") REFERENCES "Approval"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApprovalComment" ADD CONSTRAINT "ApprovalComment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApprovalTimeline" ADD CONSTRAINT "ApprovalTimeline_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApprovalTimeline" ADD CONSTRAINT "ApprovalTimeline_approvalId_fkey" FOREIGN KEY ("approvalId") REFERENCES "Approval"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApprovalTimeline" ADD CONSTRAINT "ApprovalTimeline_actorUserId_fkey" FOREIGN KEY ("actorUserId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

